.popup {
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    background-color: rgba($color-black, .8);
    z-index: 9999;
    opacity: 1;
    visibility: visible;
    transition: all .3s;
    
    &_btn{
        
        display: block;
        margin-bottom: 1rem;
        position:absolute;
        font-size: 2.5rem;
        padding: 0.2rem;
        padding-left: 1rem;
        padding-right: 1rem;
        top:0;
        right:  0;
        color: black;
        background-image: linear-gradient(to right bottom ,$color-primary-red, $color-primary-yellow);
        border-radius: 5px;
        cursor: pointer;
    }
    &_close{
     opacity: 0;
     visibility: hidden;
    }
}
